{% extends 'components/base.html' %}
{% load static %}

{% block styles %}

{% endblock %}

{% block content %}

    <!-- PAGE-HEADER -->
    <div class="page-header">
        <div>
            <h1 class="page-title">Animal Registry</h1>
        </div>
        <div class="ms-auto pageheader-btn">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0);">Animal</a></li>
                <li class="breadcrumb-item active" aria-current="page">Listing</li>
            </ol>
        </div>
    </div>
    <!-- PAGE-HEADER END -->


    <!-- Row -->
    <div class="row row-sm">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header border-bottom">
                    <h3 class="card-title">Registered Animals</h3>
                </div>
                <div class="card-body">
                   <table id="animal" class="table table-bordered text-nowrap key-buttons border-bottom  w-100">
                            <thead>
                            <tr>
                                <th class="border-bottom-0">Animal Number</th>
                                <th class="border-bottom-0">Type</th>
                                <th class="border-bottom-0">Breed</th>
                                <th class="border-bottom-0">Establishment</th>
                                <th class="border-bottom-0">DateOfBirth</th>
                                <th class="border-bottom-0">Photos</th>
                                <th class="border-bottom-0">Date Registered</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for animal in animals %}
                                <tr>
                                    <td><a href="animal_profile/{{ animal.id }}">{{ animal.animal_number }}</a></td>
                                    <td>{{ animal.animal_type.name }}</td>
                                    <td>{{ animal.breed.name }}</td>
                                    <td>{{ animal.est.name }}</td>
                                    <td>{{ animal.date_of_birth }}</td>
                                    <td>{% if  animal.front_photo %}
                                        <img src="{{ animal.front_photo.url }}" height="20px" width="20px"
                                             alt="front">{% endif %}
                                        &nbsp;
                                        {% if  animal.side_photo %}
                                            <img src="{{ animal.side_photo.url }}" height="20px" width="20px"
                                                 alt="front">{% endif %}
                                    </td>
                                    <td>{{ animal.created_timestamp.date }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    <!-- End Row -->


{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#animal').dataTable({
                {#processing: true,#}
                serverSide: true,
                sAjaxSource: 'http://127.0.0.1:8000/animal_listing',  // new url
                columns: [
                    {data: "name", },
                    {name: "code",},
                    {name: "description", },
                    {name: 'sex', },
                    {name: 'animal_type',},
                    {name: 'breed',},
                    {name: 'dominant_colour',},
                    {name: 'origin', },
                    {name: 'status', },
                    {name: 'person', },
                    {name: 'org',},
                    {name: 'est', },
                    {name: 'animal_number',},
                    {name: 'name',},
                    {name: 'date_of_birth',},
                    {name: 'date_obtained',},
                    {name: 'date_of_death',},
                    {name: 'description',},
                    {name: 'front_photo',},
                    {name: 'side_photo',},
                    {name: 'active',},
                    {name: 'created_by',},
                    {name: 'created_timestamp',},
                    {name: 'updated_by',},
                    {name: 'updated_timestamp',},
                ],
            });
        });
    </script>

    <!-- INTERNAL SELECT2 JS -->
    <script src=" {% static 'assets/plugins/select2/select2.full.min.js' %} "></script>

    <!-- DATA TABLE JS-->
    <script src=" {% static 'assets/plugins/datatable/js/jquery.dataTables.min.js' %} "></script>
    <script src=" {% static 'assets/plugins/datatable/js/dataTables.bootstrap5.js' %} "></script>
    <script src=" {% static 'assets/plugins/datatable/js/dataTables.buttons.min.js' %} "></script>
    <script src=" {% static 'assets/plugins/datatable/js/buttons.bootstrap5.min.js' %} "></script>
    <script src=" {% static 'assets/plugins/datatable/js/jszip.min.js' %} "></script>
    <script src=" {% static 'assets/plugins/datatable/pdfmake/pdfmake.min.js' %} "></script>
    <script src=" {% static 'assets/plugins/datatable/pdfmake/vfs_fonts.js' %} "></script>
    <script src=" {% static 'assets/plugins/datatable/js/buttons.html5.min.js' %} "></script>
    <script src=" {% static 'assets/plugins/datatable/js/buttons.print.min.js' %} "></script>
    <script src=" {% static 'assets/plugins/datatable/js/buttons.colVis.min.js' %} "></script>
    <script src=" {% static 'assets/plugins/datatable/dataTables.responsive.min.js' %} "></script>
    <script src=" {% static 'assets/plugins/datatable/responsive.bootstrap5.min.js' %} "></script>
    <script src=" {% static 'assets/js/table-data.js' %} "></script>

    <!-- THEMECOLORS JS -->
    <script src="{% static 'assets/js/themeColors.js' %}"></script>

{% endblock %}