{% extends 'components/base.html' %}
{% load static %}

{% block styles %}
    <link href=" {% static 'assets/css/animated.css' %} " rel="stylesheet"/>
    <style>
        .note-editable {
            background-color: white !important;
            color: black !important;
        }


        .form-bg {
            background-color: #f1f1f1;
        }

        .sw-toolbar.sw-toolbar-bottom.justify-content-end {
            background-color: #f1f1f1;
            padding: 0 50px 30px 50px;
        }
    </style>

{% endblock %}

{% block content %}

    <!-- PAGE-HEADER -->
    <div class="page-header">
        <div>
            <h1 class="page-title">Animal Registration</h1>
        </div>
        <div class="ms-auto pageheader-btn">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0);">Animal</a></li>
                <li class="breadcrumb-item active" aria-current="page"> Registration</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="px-3">
            <div class="card">
                <div class="card-header border-bottom">
                    <div class="card-title">
                        You are registering a New Animal
                    </div>
                </div>
                {% if messages %}

                    {% if form.errors %}
                        <div class="p-3 bg-gray-300 m-lg-3 m-md-3 m-sm-1 alert alert-{{ message.tags }} alert-dismissible fade show"
                             role="alert">
                            <div class="card-title">
                                Your Animal Registration Form has ERRORS. Please check the following fields!
                            </div>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <strong>{{ field.label }}:</strong> {{ error|escape }}
                                        <span type="button"
                                              class="btn btn-sm fw-lighter btn-close-danger btn-close text-danger "
                                              data-bs-dismiss="alert"
                                              aria-label="Close"></span>
                                    </div>
                                {% endfor %}

                            {% endfor %}
                            <span type="button" class="btn-close btn-sm btn-close text-lighter"
                                  data-bs-dismiss="alert"
                                  aria-label="Close">
                            </span>
                        </div>
                    {% else %}
                        {% if messages %}
                            <div class="card-body mt-3 alert alert-success alert-dismissible fade show">
                                {% for message in messages %}

                                    {% if 'danger' in message.tags %}
                                    {% elif 'success' in message.tags %}
                                        <i class="fe fe-check-square">&nbsp;</i>
                                        <strong>&nbsp;{{ message.tags.upper }}:&nbsp;</strong>{{ message }}
                                    {% elif 'warning' in message.tags %}
                                        <i class="fe fe-info">&nbsp;</i>
                                        <strong>&nbsp;{{ message.tags.upper }}:&nbsp;</strong>{{ message }}
                                    {% endif %}


                                {% endfor %}
                                <span type="button" class="btn-close btn-sm btn-close text-lighter"
                                      data-bs-dismiss="alert"
                                      aria-label="Close"></span>
                            </div>
                        {% endif %}
                    {% endif %}


                {% endif %}
            </div>

            <form method="post" id="AnimalForm" name="AnimalRegistration" class="form-bg"
                  data-divs-url="animal/ajax/load-breeds" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <div id="smartwizard-3" class="form-bg">
                    <ul>
                        <li><a href="#step-10">Bio Information</a></li>
                        <li><a href="#step-11">Origin and Ownership</a></li>
                        <li><a href="#step-12">Animal Description</a></li>
                        <li><a href="#step-13">Animal Photos and Consent</a></li>
                    </ul>
                    <div class="mx-lg-5 my-0">
                        <div id="step-10" style="min-height:400px;background-color: #f1f1f1">
                            <section>
                                <div class="row">
                                    <div class="control-group form-group col-lg-5">
                                        <label class="form-label" for="name">Select Animal Type</label>
                                        {{ form.animal_type }}
                                        <span class="error">{{ form.animal_type.errors }}</span>
                                    </div>
                                    <div class="col-lg-2"></div>
                                    <div class="control-group form-group  col-lg-5">
                                        <label class="form-label" for="name">Select Animal Breed</label>
                                        {{ form.breed }}
                                        <span class="help_text">{{ form.breed.errors }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="control-group form-group  col-lg-5">
                                        <label class="form-label" for="name">Select Dominant Colour</label>
                                        {{ form.dominant_colour }}
                                        {#                                        <span class="error">You must select an animal breed!</span>#}
                                    </div>
                                    <div class="col-lg-2"></div>
                                    <div class="control-group form-group  col-lg-5">
                                        <label class="form-label" for="name">Select Sex of Animal</label>
                                        {{ form.sex }}
                                        {#                                        <span class="error">You must select an animal breed!</span>#}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="control-group form-group col-lg-5">
                                        <label class="form-label" for="name">Select Origin of Animal</label>
                                        {{ form.origin }}
                                        {#                                        <span class="error">You must select the oorigin of animal!</span>#}
                                    </div>
                                    <div class="col-lg-2"></div>
                                    <div class="control-group form-group  col-lg-5">
                                        <label class="form-label" for="est_name">Establishment</label>
                                        <input id="est_name" class="bg-gray-200 fw-bold form-control" value="{{ this_est.name }}" readonly>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div id="step-11" style="min-height: 400px;background-color: #f1f1f1">
                            <section>
                                <div class="row">
                                    <div class="control-group form-group col-lg-5">
                                        <label class="form-label" for="name">Enter name of Animal</label>
                                        {{ form.name }}
                                    </div>
                                    <div class="col-lg-2"></div>
                                    <div class="control-group form-group col-lg-5">
                                        <label class="form-label" for="name">Select Animal Status</label>
                                        {{ form.status }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="control-group form-group col-lg-5 mb-lg-3">
                                        <label class="form-label" for="name">Type of Ownership</label>
                                        {% if person_owner %} {{ person_owner.name }}{% else %}
                                            {{ org_owner.name }}{% endif %}
                                    </div>
                                    <div class="col-lg-2"></div>
                                    {% if person_owner %}
                                        <div class="control-group form-group  col-lg-5" id="PersonOwner">
                                            <label class="form-label" for="name">Personal Owner</label>
                                            {{ person_owner.name }}
                                        </div>
                                    {% else %}
                                        <div class="control-group form-group  col-lg-5" id="OrgOwner">
                                            <label class="form-label" for="name">Organizational Owner</label>
                                            {{ org_owner.name }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="row">
                                    <div class="control-group form-group col-lg-5">
                                        <label class="form-label" for="name">Date of Death</label>
                                        {{ form.date_of_death }}
                                    </div>
                                    <div class="col-lg-2"></div>
                                    <div class="control-group form-group col-lg-2">
                                        <label for="datepickerNoOfMonths">Date obtained</label>
                                        <div class="input-group">
                                            <div class="input-group-text bg-primary-transparent text-primary">
                                                <i class="fe fe-calendar text-20"></i>
                                            </div>
                                            <input class="form-control" id="datepickerNoOfMonths"
                                                   placeholder="MM/DD/YYYY"
                                                   type="text">
                                        </div>
                                    </div>

                                    <div class="col-lg-1"></div>
                                    <div class="control-group form-group col-lg-2">
                                        <label class="form-label" for="name">Date of Birth</label>
                                        {{ form.date_of_birth }}
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div id="step-12" style="min-height: 400px;background-color: #f1f1f1">
                            <section>
                                <div class="row">
                                    <label class="form-label" for="name">Describe the animal below </label>
                                    <div class="control-group form-group">
                                        <p>{{ form.description }}</p>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div id="step-13" style="min-height: 400px;background-color: #f1f1f1">
                            <div class="row">
                                <div class="col-lg-12 d-lg-flex">
                                    <div class="control-group form-group col-lg-6" style="height:400px;">
                                        <label class="form-label" for="name">Front Photo</label>
                                        <input name="front_photo" id="id_front_photo" type="file" class="dropify"
                                               data-max-file-size="300K"/>
                                    </div>

                                    <div class="control-group form-group col-lg-6">
                                        <label class="form-label" for="name">Side Photo</label>
                                        <input name="side_photo" id="id_side_photo" type="file" class="dropify"
                                               data-max-file-size="300K"/>
                                    </div>
                                </div>
                                <p>

                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" name="example-checkbox2"
                                               value="option2">
                                        <span class="custom-control-label text-success">I confirm that the information provided in this form abou the animal is correct and accurate to the best of my understanding.</span>
                                    </label>

                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>



{% endblock %}

{% block scripts %}
    <script>
        const person = document.getElementById("PersonOwner");
        const org = document.getElementById("OrgOwner");
        $(document).ready(function () {
            $("#OrgOwner").hide();
            $("#PersonOwner").hide();
        });
        let select = document.querySelector('#Owner_Type');
        select.addEventListener('change', function () {
            if (this.selectedIndex === 1) {
                org.style.display = 'none';
                person.style.display = 'block';
            } else if (this.selectedIndex === 2) {
                org.style.display = 'block';
                person.style.display = 'none';
            } else {
                org.style.display = 'none';
                person.style.display = 'none';
            }
        });

    </script>

    <!-- FORM ELEMENTS JS -->
    <script src=" {% static 'assets/js/formelementadvnced.js' %} "></script>

    <!-- THEMECOLORS JS -->
    <script src="{% static 'assets/js/themeColors.js' %}"></script>


    <script src=" {% static 'assets/plugins/sweet-alert/sweetalert.min.js' %} "></script>
    <script src=" {% static 'assets/plugins/sweet-alert/jquery.sweet-alert.js' %} "></script>

    <!-- THEMECOLORS JS -->
    <script src="{% static 'assets/js/themeColors.js' %}"></script>


    <!-- FORM WIZARD JS-->
    <script src=" {% static 'assets/plugins/formwizard/jquery.smartWizard.js' %} "></script>
    <script src=" {% static 'assets/plugins/formwizard/fromwizard.js' %} "></script>

    <!-- INTERNAl JQUERY.STEPS JS -->
    <script src=" {% static 'assets/plugins/jquery-steps/jquery.steps.min.js' %} "></script>
    <script src=" {% static 'assets/plugins/parsleyjs/parsley.min.js' %} "></script>

    <!-- INTERNAL ACCORDION-WIZARD-FORM JS-->
    <script src=" {% static 'assets/plugins/accordion-Wizard-Form/jquery.accordion-wizard.min.js' %} "></script>
    <script src=" {% static 'assets/js/form-wizard.js' %} "></script>

    <!-- THEMECOLORS JS -->
    <script src="{% static 'assets/js/themeColors.js' %}"></script>
    <!-- INTERNAL Summernote Editor js -->
    <script src=" {% static 'assets/plugins/summernote-editor/summernote1.js' %} "></script>
    <script src=" {% static 'assets/js/summernote.js' %} "></script>

    <!-- WYSIWYG Editor JS -->
    <script src=" {% static 'assets/plugins/wysiwyag/jquery.richtext.js' %} "></script>
    <script src=" {% static 'assets/plugins/wysiwyag/wysiwyag.js' %} "></script>

    <!-- FORMEDITOR JS -->
    <script src=" {% static 'assets/plugins/quill/quill.min.js' %} "></script>
    <script src=" {% static 'assets/js/form-editor2.js' %} "></script>

    <!-- THEMECOLORS JS -->
    <script src="{% static 'assets/js/themeColors.js' %}"></script>
    <!--Internal Fancy uploader js-->
    <script src=" {% static 'assets/plugins/fileuploads/js/fileupload.js' %} "></script>
    <script src=" {% static 'assets/plugins/fileuploads/js/file-upload.js' %} "></script>

    <!--Internal Fancy uploader js-->
    <script src=" {% static 'assets/plugins/fancyuploder/jquery.ui.widget.js' %} "></script>
    <script src=" {% static 'assets/plugins/fancyuploder/jquery.fileupload.js' %} "></script>
    <script src=" {% static 'assets/plugins/fancyuploder/jquery.iframe-transport.js' %} "></script>
    <script src=" {% static 'assets/plugins/fancyuploder/jquery.fancy-fileupload.js' %} "></script>
    <script src=" {% static 'assets/plugins/fancyuploder/fancy-uploader.js' %} "></script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function () {
            nextbtn = document.getElementsByClassName('btn btn-primary sw-btn-next disabled')
            sbbtn = document.getElementsByClassName('sw-btn-group-extra')
            sbbtn.style.display = 'none';
            if (nextbtn) {
                sbbtn.style.display = 'block';
            }
        });
    </script>
    <script>
        $("#id_animal_type").change(function () {
            const url = '/ajax/load-breeds';
            const animal_type = $(this).val();
            const elem = document.getElementById('id_dominant_colour');
            elem.selectedIndex = 0;
            $.ajax({
                url: url,
                data: {
                    'animal_type': animal_type
                },
                success: function (data) {
                    $("#id_breed").html(data);
                }
            });
        });
    </script>
    <script>
        $("#id_breed").change(function () {
            const url = '/ajax/load-colours';
            const breed = $(this).val();
            $.ajax({
                url: url,
                data: {
                    'breed': breed
                },
                success: function (data) {
                    $("#id_dominant_colour").html(data);
                }
            });
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}