{% extends 'components/custom-base.html' %}
{% load static %}

{% block styles %}

{% endblock %}

{% block content %}

    <!-- PAGE -->
    <div class="page">
        <div>
            <!-- CONTAINER OPEN -->
            <div class="col col-login mx-auto text-center">
                <a href="index" class="text-center">
                    <img src="{% static 'assets/images/brand/logo.png' %}" class="header-brand-img" alt="">
                </a>
            </div>
            <div class="container-login100">
                <div class="wrap-login100 p-0">
                    <div class="card-body">

                        <form role="form text-left" method="post" action="" class="login100-form validate-form">
                            {% csrf_token %}
                            <p class="mb-0">
                                {% if msg %}
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <span class="alert-inner--text">{{ msg | safe }}!</span>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>

                                {% else %}
                                    <span class="login100-form-title">
										Login
									</span>
                                {% endif %}
                            </p>

                            <div class="wrap-input100 validate-input"
                                 data-bs-validate="Valid email is required: ex@abc.xyz">
                                <input class="input100" type="text" name="username" placeholder="Email" id="username">
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
											<i class="zmdi zmdi-email" aria-hidden="true"></i>
										</span>
                            </div>
                            <div class="wrap-input100 validate-input" data-bs-validate="Password is required">
                                <input class="input100" type="password" name="password" placeholder="Password"
                                       id="password">
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
											<i class="zmdi zmdi-lock" aria-hidden="true"></i>
										</span>
                            </div>
                            <div class="text-end pt-1">
                                <p class="mb-0"><a href="forgot-password" class="text-primary ms-1">Forgot Password?</a>
                                </p>
                            </div>
                            <div class="container-login100-form-btn">

                                <button href="index" type="submit" name="login" class="login100-form-btn btn-primary">
                                    Login
                                </button>

                            </div>
                            <div class="text-center pt-3">
                                <p class="text-dark mb-0">Not a member?<a href="#" class="text-primary ms-1">Create
                                    an Account</a></p>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-center my-3">
                            <a href="javascript:void(0)" class="social-login  text-center me-4">
                                <i class="fa fa-google"></i>
                            </a>
                            <a href="javascript:void(0)" class="social-login  text-center me-4">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="javascript:void(0)" class="social-login  text-center">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CONTAINER CLOSED -->
        </div>
    </div>
    <!-- End PAGE -->

{% endblock %}

{% block scripts %}

{% endblock %}

